# Ignore thumbnails created by windows
Thumbs.db

# Ignore python compiled files
*.pyc

# Ignore files boild by ndk and eclipse
*.class
FengYun/frameworks/cocos2d-x/cocos/platform/android/java/bin/
FengYun/frameworks/cocos2d-x/cocos/platform/android/java/gen/
local.properties

# Ignore files build by airplay and marmalade
build_*_xcode/
build_*_vc10/

# Ignore files created by mac os x
.DS_Store

# Ignore files build by xcode
*.mode*v*
*pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
._.*
xcuserdata/
DeriveData/

# Ignore files generate by cocos-console

#Custom
FengYun/runtime/mac
FengYun/simulator/
FengYun/publish/

*.obj
*.tlog
*.log
*.VC.db
*.VC.opendb
*.idb
*.pdb

Debug.win32

.vs

enc_temp_folder




