<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man_attack_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,274},{78,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,126}}</string>
                <key>sourceSize</key>
                <string>{78,126}</string>
            </dict>
            <key>man_attack_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,510},{82,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,122}}</string>
                <key>sourceSize</key>
                <string>{82,122}</string>
            </dict>
            <key>man_attack_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,440},{82,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,122}}</string>
                <key>sourceSize</key>
                <string>{82,122}</string>
            </dict>
            <key>man_attack_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,360},{78,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,124}}</string>
                <key>sourceSize</key>
                <string>{78,124}</string>
            </dict>
            <key>man_attack_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{74,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>man_attack_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{78,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,130}</string>
            </dict>
            <key>man_attack_back_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,130}}</string>
                <key>sourceSize</key>
                <string>{82,130}</string>
            </dict>
            <key>man_attack_back_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,82},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>man_attack_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,670},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>man_attack_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,116}}</string>
                <key>sourceSize</key>
                <string>{82,116}</string>
            </dict>
            <key>man_attack_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,756},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>man_attack_front_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,724},{78,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,118}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>man_attack_front_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,804},{74,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,112}}</string>
                <key>sourceSize</key>
                <string>{74,112}</string>
            </dict>
            <key>man_attack_front_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>man_attack_front_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,688},{84,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,114}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>man_attack_front_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,82},{88,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>man_attack_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,436},{72,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,124}}</string>
                <key>sourceSize</key>
                <string>{72,124}</string>
            </dict>
            <key>man_attack_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{72,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>man_attack_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,408},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>man_attack_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{70,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,122}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>man_attack_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>man_attack_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,248},{82,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,126}}</string>
                <key>sourceSize</key>
                <string>{82,126}</string>
            </dict>
            <key>man_attack_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>man_attack_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,276},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{82,124}</string>
            </dict>
            <key>man_attack_rightdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{84,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,128}}</string>
                <key>sourceSize</key>
                <string>{84,128}</string>
            </dict>
            <key>man_attack_rightdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,354},{80,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,124}}</string>
                <key>sourceSize</key>
                <string>{80,124}</string>
            </dict>
            <key>man_attack_rightdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,614},{72,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>man_attack_rightdown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,652},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>man_attack_rightdown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,594},{74,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,120}}</string>
                <key>sourceSize</key>
                <string>{74,120}</string>
            </dict>
            <key>man_attack_rightdown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,524},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>man_attack_rightdown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,172},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>man_attack_rightdown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,172},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>man_attack_rightup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,84},{84,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,128}}</string>
                <key>sourceSize</key>
                <string>{84,128}</string>
            </dict>
            <key>man_attack_rightup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{86,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,122}}</string>
                <key>sourceSize</key>
                <string>{86,122}</string>
            </dict>
            <key>man_attack_rightup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{84,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,122}}</string>
                <key>sourceSize</key>
                <string>{84,122}</string>
            </dict>
            <key>man_attack_rightup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,572},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>man_attack_rightup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{72,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,124}}</string>
                <key>sourceSize</key>
                <string>{72,124}</string>
            </dict>
            <key>man_attack_rightup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{74,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,128}</string>
            </dict>
            <key>man_attack_rightup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{76,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{76,128}</string>
            </dict>
            <key>man_attack_rightup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>man_attack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f8f1f6035625aaee194929dc0051bf:1/1$</string>
            <key>textureFileName</key>
            <string>man_attack.png</string>
        </dict>
    </dict>
</plist>
