<?xml version="1.0" encoding="utf-8" standalone="yes"?> 
<plist version="1.0">
<dict>
<key>1</key>		 <string>爱得拉</string>
<key>2</key>		 <string>芭芭拉</string>
<key>3</key>		 <string>柏妮丝</string>
<key>4</key>		 <string>柏莎</string>
<key>5</key>		 <string>百丽儿</string>
<key>6</key>		 <string>坎蒂丝</string>
<key>7</key>		 <string>卡拉</string>
<key>8</key>		 <string>卡罗琳</string>
<key>9</key>		 <string>塞西莉亚</string>
<key>10</key>		 <string>克莱儿</string>
<key>11</key>		 <string>克莱曼婷</string>
<key>12</key>		 <string>康斯坦丝</string>
<key>13</key>		 <string>可妮莉雅</string>
<key>14</key>		 <string>黛娜</string>
<key>15</key>		 <string>黛芙妮</string>
<key>16</key>		 <string>黛碧</string>
<key>17</key>		 <string>迪得莉</string>
<key>18</key>		 <string>迪丽雅</string>
<key>19</key>		 <string>丹尼丝</string>
<key>20</key>		 <string>唐娜</string>
<key>21</key>		 <string>多拉</string>
<key>22</key>		 <string>多琳</string>
<key>23</key>		 <string>多莉丝</string>
<key>24</key>		 <string>桃乐斯</string>
<key>25</key>		 <string>伊甸</string>
<key>26</key>		 <string>艾德文娜</string>
<key>27</key>		 <string>艾琳</string>
<key>28</key>		 <string>埃拉</string>
<key>29</key>		 <string>艾西</string>
<key>30</key>		 <string>艾丝特</string>
<key>31</key>		 <string>尤多拉</string>
<key>32</key>		 <string>尤妮斯</string>
<key>33</key>		 <string>伊夫林</string>
<key>34</key>		 <string>费怡</string>
<key>35</key>		 <string>弗罗拉</string>
<key>36</key>		 <string>弗莉达</string>
<key>37</key>		 <string>嘉比里拉</string>
<key>38</key>		 <string>姬玛</string>
<key>39</key>		 <string>汉纳</string>
<key>40</key>		 <string>赫瑟尔</string>
<key>41</key>		 <string>赫蒂</string>
<key>42</key>		 <string>海洛伊丝</string>
<key>43</key>		 <string>希拉瑞莉</string>
<key>44</key>		 <string>艾娜</string>
<key>45</key>		 <string>婕咪</string>
<key>46</key>		 <string>珍</string>
<key>47</key>		 <string>乔安娜</string>
<key>48</key>		 <string>朱蒂斯</string>
<key>49</key>		 <string>朱蒂</string>
<key>50</key>		 <string>朱莉娅</string>
<key>51</key>		 <string>朱丽叶</string>
<key>52</key>		 <string>凯伦</string>
<key>53</key>		 <string>凯莉</string>
<key>54</key>		 <string>金百莉</string>
<key>55</key>		 <string>吉蒂</string>
<key>56</key>		 <string>罗拉</string>
<key>57</key>		 <string>罗伦</string>
<key>58</key>		 <string>雷思丽</string>
<key>59</key>		 <string>列蒂西雅</string>
<key>60</key>		 <string>李莉斯</string>
<key>61</key>		 <string>莉萨</string>
<key>62</key>		 <string>曼蒂</string>
<key>63</key>		 <string>玛格丽特</string>
<key>64</key>		 <string>马丽娜</string>
<key>65</key>		 <string>玛希</string>
<key>66</key>		 <string>梅莉</string>
<key>67</key>		 <string>梦娜</string>
<key>68</key>		 <string>南希</string>
<key>69</key>		 <string>纳塔利</string>
<key>70</key>		 <string>妮可拉</string>
<key>71</key>		 <string>妮娜</string>
<key>72</key>		 <string>诺维雅</string>
<key>73</key>		 <string>奥蒂莉亚</string>
<key>74</key>		 <string>潘多拉</string>
<key>75</key>		 <string>派翠西亚</string>
<key>76</key>		 <string>佩儿</string>
<key>77</key>		 <string>菲妮克丝</string>
<key>78</key>		 <string>菲丽丝</string>
<key>79</key>		 <string>珀莉</string>
<key>80</key>		 <string>普莉斯拉</string>
<key>81</key>		 <string>昆娜</string>
<key>82</key>		 <string>瑞琪儿</string>
<key>83</key>		 <string>瑞伊</string>
<key>84</key>		 <string>莉达</string>
<key>85</key>		 <string>莉娃</string>
<key>86</key>		 <string>罗莎琳德</string>
<key>87</key>		 <string>罗丝</string>
<key>88</key>		 <string>露比</string>
<key>89</key>		 <string>莎碧娜</string>
<key>90</key>		 <string>莎莉</string>
<key>91</key>		 <string>莎拉</string>
<key>92</key>		 <string>希贝儿</string>
<key>93</key>		 <string>西格莉德</string>
<key>94</key>		 <string>苏菲亚</string>
<key>95</key>		 <string>丝柏凌</string>
<key>96</key>		 <string>丝特芬妮</string>
<key>97</key>		 <string>苏珊</string>
<key>98</key>		 <string>苏珊娜</string>
<key>99</key>		 <string>苏珊</string>
<key>100</key>		 <string>席拉</string>
<key>101</key>		 <string>维拉</string>
<key>102</key>		 <string>维娜</string>
<key>103</key>		 <string>维达</string>
<key>104</key>		 <string>维文</string>
<key>105</key>		 <string>温迪</string>
<key>106</key>		 <string>温妮</string>
<key>107</key>		 <string>芝妮雅</string>
<key>108</key>		 <string>依耶塔</string>
<key>109</key>		 <string>依耶芙特</string>
<key>110</key>		 <string>若伊</string>
</dict></plist>